#Project
target
test-output

#Netbeans
nb-configuration.xml
nbactions.xml
*.NavData

#Idea
.idea
*.iml
*.ids
*.ipr
*.iws

#Eclipse
.settings
.project
.classpath
*.attach*

#Tools
rebel.xml

#System & misc 
*.bak
*.log
*.ldb
*~
*.swp
